body {
  background: linear-gradient(to right, #f00, #ffd900, #00c);
  background-size: 200% auto;
  animation: color-change 10s ease-in-out infinite;
}

@keyframes color-change {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

  .nav-buttons {
    list-style: none; /*quitar los puntos de la lista*/
    display: flex; /*poner los botones en una fila*/
    flex-wrap: nowrap; /*evitar que los botones se ajusten automáticamente a la pantalla*/
    justify-content: space-between; /*alinear los botones horizontalmente*/
    align-items: center; /*alinear los botones verticalmente*/
  }
  
  .nav-button {
    background-color: rgba(0, 0, 0, 0.8); /*color oscuro*/
    color: white; /*color de letra*/
    padding: 10px 20px; /*espaciado interno*/
    border-radius: 4px; /*bordes redondos*/
    text-decoration: none; /*quitar subrayado*/
    font-size: 14px; /*tamaño de letra*/
    transition: background-color 0.2s ease-in-out; /*efecto al pasar el cursor*/
    text-align: center; /*alinear el texto del boton*/
    margin: 10px; /*espacio entre cada boton*/
    box-shadow: 0px 0px 10px #000000; /*sombra alrededor del boton*/
    border: none; /*quitar bordes*/
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /*color al pasar el cursor*/
  }

  /* Estilo para las imágenes */
.image {
    width: 250px; /* Ancho de la imagen */
    height: 250px; /* Alto de la imagen */
    border-radius: 50%; /* Bordes redondos */
    border: 2px solid black; /* Bordes negros */
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
}

/* Estilo para las filas de imágenes */
.row {
    display: flex; /* Utiliza flexbox para organizar las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten a la fila */
  }
  
  /* Estilo para cada contenedor de imagen */
  .image-container {
    padding-left: 5px;

    width: 20%; /* Ocupa el 20% del ancho de la fila */
    margin: 0.8%; /* Margen entre las imágenes */
  }
/* Estilo para las etiquetas <p> debajo de las imágenes */
.image-container p {
    text-align: center; /* Centra el texto */

    width: 100%; /* Ocupa el ancho completo del contenedor */
    margin: 0; /* Elimina el margen */
}

p { display: inline-block;
text-decoration: none; /*quitar subrayado*/
font-size: 14px; /*tamaño de letra*/
text-align: center; /*alinear el texto del boton*/
flex-wrap: nowrap; /*evitar que los botones se ajusten automáticamente a la pantalla*/
padding-left: 5px;

}
